<template>
  <div class="recipes full-page-card">
    <div class="recipes-header">
      <img src="../../assets/icons/search.svg" id="search-bar-icon">
      <input type="text" placeholder="Search recipes..."/>
    </div>
    <div class="recipe-preview">
      <div class="recipe-image"></div>
      <div class="recipe-info">
        <h3 class="recipe-title">Chicken Alfredo</h3>
        <p>with potatoes and beans</p>
      </div>
    </div>
    <router-link :to="{ name: 'NewRecipe' }">+ New Recipe</router-link>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>


/*  The recipe preview container...  */
.recipes {
  display: relative;
}
.recipes-header  {
  background: #FCDCA9;
  position: relative;
}

#search-bar-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: .5;
}
.recipes-header input {
  height: 20px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 20px;
  width: 90%;
  margin: 20px 0px;
  border: solid 1px gray;
}

/*  Individual recipe previews...    */
.recipe-preview {
  height: 100px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  display: flex;
}
.recipe-image {
  width: 150px;
  height: 100px;
  background: #FAECCE;
  border-right: solid 1px gray;
}
.recipe-info {
  padding-left: 25px;
  text-align: left;
}
.recipe-info h3 {
  margin-bottom: 0px;
}
.recipe-info p {
  margin-top: 0px;
}

/*  The button at the bottom...    */
.recipes a {
  background: #FCDCA9;
  border: solid 1px gray;
  padding: 15px 30px;
  position: fixed;
  bottom: 90px;
  right: 90px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.6);
  cursor: pointer;
  transition-duration: .4s;
  text-decoration: none;
  color: black;
}
.recipes a:hover {
  box-shadow: 0px 5px 8px rgba(0,0,0,.6);
  background: #FFE2AD;
}
</style>