<template>
  <div id="new-recipe" class="full-page-card">
    <!-- "New recipe" header and progress bread crumbs -->
    <div id="new-recipe-header">
      Register a new recipe!
      <div class="new-recipe-steps">
        <bread-crumbs :current="current_crumb" :crumbs="crumb_titles"></bread-crumbs>
      </div>
    </div>
    
    <!-- New recipe step content -->
    <div class="new-recipe-form-content" v-if="current_crumb == 0">
      <custom-input
        v-model="recipeName"
        label="Recipe name"
        placeholder="Recipe name here..."
      ></custom-input>
      <br/><br/>
      <custom-input
        v-model="recipeDescription"
        label="Recipe description"
        placeholder="Recipe name here..."
      ></custom-input>
      <button class="next-crumb" @click="current_crumb++">Next: Add Ingredients</button>
    </div>

    <!--  Ingredients:  -->
    <div class="new-recipe-form-content" v-if="current_crumb == 1">
      <p>What ingredients are needed for this recipe?</p>
      <custom-input v-model="recipeName"></custom-input>
      <button class="prev-crumb" @click="current_crumb--">Back: Edit Recipe Info</button>
      <button class="next-crumb" @click="current_crumb++">Next: Add Steps</button>
    </div>

    <!--  Steps:  -->
    <div class="new-recipe-form-content" v-if="current_crumb == 2">
      <p>What are the steps to make this recipe?</p>
      <custom-input v-model="recipeSteps"></custom-input>
      <button class="prev-crumb" @click="current_crumb--">Back: Add Ingredients</button>
      <button class="next-crumb" @click="current_crumb++">Next: Review</button>
    </div>

    <!--  Review:  -->
    <div class="new-recipe-form-content" v-if="current_crumb == 3">
      <p>Review your new recipe</p>
      <h3>{{RecipeName}}</h3>
      <button class="prev-crumb" @click="current_crumb--">Back: Add Steps</button>
      <button class="next-crumb" @click="submit()">Submit new recipe!</button>
    </div>

  </div>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue';
import CustomInput from '../../components/CustomInput.vue';

export default {
  components: {
    BreadCrumbs,
    CustomInput
  },
  data() {
    return {
      current_crumb: 0,
      crumb_titles: [
        'Recipe info',
        'Ingredients',
        'Steps',
        'Review',
      ],

      // Step 1: Recipe Info
      recipeName: 'Asparagus fries',
      recipeDescription: 'Crispy roasted asparagus sticks, coated in breadcrumbs and seasoning. ',

      // Step 2: Ingredients

      // Step 3: Recipe steps
      recipeSteps: 'Step 1...',
    }
  }
}
</script>

<style scoped>

#new-recipe-header {
  height: 120px;
  width: 100%;
  background: #FCDCA9;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  border-bottom: solid 1px gray;
}

#new-recipe {
  position: relative;
}

.new-recipe-steps {
  width: 400px;
  height: 80px;
  background: #FFFEF5;
  border-radius: 20px;
  border: solid 1px gray;
}

.new-recipe-form-content {
  text-align: left;
  margin: 40px 40px;
}

.custom-input {
  width: 100%;
}

.next-crumb, .prev-crumb {
  background: #FAECCE;
  border: 1px gray solid;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  bottom: 35px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.5);
  cursor: pointer;
}
.next-crumb {
  right: 35px;
}
.prev-crumb {
  left: 35px;
}

</style>