<template>
  <!--  Page header  -->
  <div id="top-nav">
    <img alt="Recipe Maus logo" src="./assets/recipe-maus-logo.svg" height="60">
    <router-link to="/" style="text-decoration: none;">
      <h1 style="margin-left: 20px;">Recipe Maus</h1>
    </router-link>
    <div class="spacer"></div>
    <div style="display: flex;" v-if="!user.username">
      <router-link to="/register" style="margin-right: 20px">
        <button class="styled-button round-corners light-tan">Register</button>
      </router-link>
      <router-link to="/login" style="margin-right: 20px">
        <button class="styled-button round-corners light-tan">Login</button>
      </router-link>
    </div>
    <div v-else>
      <router-link to="/user" style="margin-right: 20px">
        <button class="styled-button round-corners light-tan">{{ user.username }}</button>
      </router-link>
      <button 
        class="styled-button round-corners light-tan" 
        style="margin-right: 20px"
        @click="logout()"
      >
        Log out
      </button>
    </div>
    <router-link to="/admin">
      <button class="styled-button round-corners light-tan">Admin</button>
    </router-link>
  </div>
  <!--  Page menu & content  -->
  <div id="page-content">
    <div id="side-menu">
      <br/>
      <custom-router-link to="/" icon="dashboard.svg" color="#B7A0B9">
        Dashboard
      </custom-router-link>
      <custom-router-link to="/recipes" icon="chef_hat.png" color="#EFB04B">
        Recipes
      </custom-router-link>
      <custom-router-link to="/meal-schedule" icon="calendar.svg" color="#98BCBF">
        Meal Schedule
      </custom-router-link>
      <custom-router-link to="/grocery-list" icon="list.svg" color="#90A557">
        Grocery List
      </custom-router-link>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><hr/><br/>
      <custom-router-link to="/ingredientpedia" icon="carrot.svg" color="#90A557">
        Ingredient-pedia
      </custom-router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import CustomRouterLink from './components/CustomRouterLink.vue'

export default {
  name: 'appLayout',
  components: {
    CustomRouterLink
  },
  computed: {
    user() {
      return this.$store.getters['users/currentUser']
    },
  },
  mounted() {
    var sessionid = localStorage.getItem('sessionid');
    console.log(sessionid)
    if (sessionid != null && sessionid != 'null') {
      this.$store.dispatch('users/getUserBySession', { sessionid: sessionid })
    }
  },
  methods: {
    logout() {
      localStorage.setItem('sessionid', null);
      this.$store.commit('users/setCurrentUser', {});
    }
  },
}
</script>

<style>
html, body {
  margin: 0px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#top-nav {
  padding: 0px 30px;
  background: #F2DBA9;
  height: 100px;
  display: flex;
  align-items: center;
}
.spacer {
  flex-grow: 1;
}

#page-content {
  background: #FAECCE;
  min-height: calc(100vh - 100px);
  display: flex;
}

#side-menu  {
  background: #FDF9DD;
  width: 300px;
  min-height: calc(100vh - 100px);
}

h1 {
  font-family: courier;
  color: #2c3e50;
}


/*  Component classes:  */
.full-page-card {
  width: 85%;
  max-width: 800px;
  background: #FFFEF5;
  margin: 40px auto;
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  border: solid 1px gray;
}

.half-page-card {
  width: 45%;
  max-width: 800px;
  min-width: 400px;
  background: #FFFEF5;
  margin: 40px auto;
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  border: solid 1px gray;
}

.styled-button {
  background: #fcdca9;
  border: solid 1px gray;
  padding: 15px 30px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.6);
  cursor: pointer;
  transition-duration: .4s;
  text-decoration: none;
  color: black;
}

.styled-button:hover {
  box-shadow: 0px 5px 8px rgba(0,0,0,.6);
  background: #FFE2AD;
}

.round-corners {
  border-radius: 15px;
}

.light-tan {
  background: #FDF9DD;
}

a {
  color: #2c3e50;
}

.error-message {
  font-weight: bold;
  color: red;
}

</style>
