<template>
  <div class="dashboard">
    <div class="dashboard-card">Dashboard - user info</div>
    <div class="dashboard-card">Dashboard - new recipes</div>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {}
}
</script>


<style scoped>
.dashboard {
  width: 100%;
}
.dashboard-card {
  width: 45%;
  max-width: 800px;
  min-height: 100px;
  background: #FFFEF5;
  margin: 40px auto;
  box-shadow: 0px 5px 5px rgba(0,0,0,.5);
  border: solid 1px gray;
}
</style>