<template>
  <div id="edit-profile">
    
  </div>
</template>

<script>

export default {
  name: 'EditProfile',
  components: {
    customInput
  },
  data() {
    return {
      user_info: {
        username: '',
        //email: '',
        password: '',
      }
    }
  },
  methods: {
    login() {
      var user_info = new FormData();
      user_info.append('username', this.user_info.username);
      user_info.append('password', this.user_info.password);
      user_info.append('confirm_password', this.user_info.confirm_password);
      console.log("Registering your account")
      this.$store.dispatch('users/register', user_info);
    }
  }
}
</script>

<style scoped>

#login {
  padding: 40px;
  text-align: left;
}

a {
  text-align: left;
}
</style>