<template>
  <div class="half-page-card" id="login">
    <h2>Login</h2>
    <br /><br />
    <custom-input 
      v-model="user_info.username"
      label="Username"
      placeholder="your_username_here"
    ></custom-input>
    <!--<br /><br />
    <custom-input 
      v-model="user_info.email"
      label="Email (optional)"
      placeholder="youremail@mail.com"
    ></custom-input>-->
    <br /><br />
    <custom-input 
      v-model="user_info.password"
      label="Password"
      placeholder=""
      type="password"
      @enter="login()"
    ></custom-input>
    <p class="error">{{ authError }}</p>
    <br /><br />
    <button class="styled-button" @click="login()">Login</button>
    <br /><br />
    <router-link to="/register">
      No account yet?  Click here to register!
    </router-link>
  </div>
</template>

<script>
import customInput from '../../components/CustomInput.vue';
import FormData from 'form-data' 

export default {
  components: {
    customInput
  },
  data() {
    return {
      user_info: {
        username: '',
        password: '',
      }
    }
  },
  computed: {
    authError() {
      return this.$store.getters['users/authError']
    }
  },
  methods: {
    login() {
      var user_info = new FormData();
      user_info.append('username', this.user_info.username);
      user_info.append('password', this.user_info.password);
      console.log("Logging in")
      this.$store.dispatch('users/login', user_info);
    }
  }
}
</script>

<style scoped>

#login {
  padding: 40px;
  text-align: left;
}

a {
  text-align: left;
}

.error {
  color: red;
}
</style>