<template>
  <div class="half-page-card" id="register">
    <h2>Register</h2>
    <br /><br />
    <custom-input 
      v-model="user_info.username"
      label="Username"
      placeholder="your_username_here"
    ></custom-input>
    <!--<br /><br />
    <custom-input 
      v-model="user_info.email"
      label="Email (optional)"
      placeholder="youremail@mail.com"
    ></custom-input>-->
    <br /><br />
    <custom-input 
      v-model="user_info.password"
      label="Password"
      placeholder=""
      type="password"
    ></custom-input>
    <br /><br />
    <custom-input 
      v-model="user_info.confirm_password"
      label="Confirm password"
      placeholder=""
      type="password"
      @enter="register()"
    ></custom-input>
    <br /><br />
    <button class="styled-button" @click="register()">Register</button>
    <br /><br />
    <div class="error-message">{{ error_msg }}</div>
    <br /><br />
    <router-link to="/login">
      Already have an account? Click here to log in!
    </router-link>
  </div>
</template>

<script>
import customInput from '../../components/CustomInput.vue';
import FormData from 'form-data' 

export default {
  components: {
    customInput
  },
  data() {
    return {
      user_info: {
        username: '',
        //email: '',
        password: '',
        confirm_password: ''
      },
      error_msg: ''
    }
  },
  methods: {
    register() {
      var user_info = new FormData();
      user_info.append('username', this.user_info.username);
      user_info.append('password', this.user_info.password);
      user_info.append('confirm_password', this.user_info.confirm_password);
      console.log("Registering your account")
      this.$store.dispatch('users/register', user_info);
    }
  }
}
</script>

<style scoped>

#register {
  padding: 40px;
  text-align: left;
}

a {
  text-align: left;
}
</style>