<template>
  <div id="admin-page" class="full-page-card">
    <div id="table-names">
      <div
        class="table-name"
        v-for="table in tables"
        :key="table"
        :class="{ 'selected': current_table.name == table.name }"
        @click="current_table = table"
      >
        {{ table.name }}
      </div>
    </div>
    <div id="data-table" v-if="current_table.name">
      <h4>{{ current_table.name }}</h4>
      <table>
        <tr>
          <th v-for="column_name in current_table.column_names" :key="column_name">
            {{ column_name }}
          </th>
        </tr>
        <tr v-for="(row, i) in current_table.row_data" :key="i">
          <td v-for="(item, key) in row" :key="key">{{ item }}</td>
        </tr>
      </table>
    </div>
    <div id="data-table" v-else>
      <h4><i>Select a table...</i></h4>
    </div>
    
  </div>
</template>

<script>

export default {
  components: {
  },
  data() {
    return {
      current_table: {},
    }
  },
  computed: {
    tables() {
      return [
        {
          name: 'Users',
          column_names: ['id', 'username', 'password'],
          row_data: this.$store.getters['users/allUsers']
        },
        {
          name: 'User Sessions',
          column_names: ['id', 'sessionid', 'userid'],
          row_data: this.$store.getters['users/allSessions']
        },
        {
          name: 'Ingredients',
          column_names: ['id', 'name', 'image', 'units', 'created_on'],
          row_data: this.$store.getters['ingredients/allIngredients']
        },
        {
          name: 'Units',
        },
        {
          name: 'Recipes',
        },
      ]
    }
  },
  mounted() {
    this.$store.dispatch('users/getAllUsers')
    this.$store.dispatch('users/getAllSessions')
    this.$store.dispatch('ingredients/getAllIngredients')
  },
  methods: {
    
  },
}
</script>

<style scoped>

#admin-page {
  display: flex;
}

#table-names {
  width: 150px;
  text-align: left;
  background: #FDF9DD;
  height: 100%;
}
.table-name {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.table-name:hover {
  background: #F2DBA9;
}
.selected {
  background: #F2DBA9;
  font-weight: bold;
}

#data-table {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}
table {
  border-collapse: collapse;
  margin: auto;
}
th, td {
  border: solid 1px black;
  padding: 5px 10px;
  background: white;
  font-size: 13px;
}
</style>