<template>
  <div class="not-found">
    404 - page not found!
  </div>
</template>

<style scoped>

.not-found {
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

</style>