<template>
  <div class="new-recipe full-page-card">
    <h1>ingredientpedia</h1>
    <p>
      This page includes a list of all the ingredients registered with this website.
    </p>
    <p>
      Each ingredient includes a description, image,  and units of measurement.
    </p>
    <div class="search-bar">
      <input placeholder="Search ingredients..." />
    </div>
    <table>
      <!--  Table header  -->
      <tr>
        <th class="image">image</th>
        <th class="name">ingredient name</th>
        <th class="unit">units</th>
        <th class="icons"></th>
      </tr>
      <!--  Ingredient table rows    -->
      <tr 
        v-for="(ingredient, i) in ingredients"
        :key="i"
        :class="{
          'light-gray': i % 2 == 0,
          'dark-gray': i % 2 == 1
        }" 
      >
        <td class="image">
          <div class="ingredient-image">
            <img src="">
          </div>
        </td>
        <td class="name">{{ingredient.name}}</td>
        <td class="unit">
          <select>
            <option 
              v-for="(unit, i) in ingredient.units" 
              :value="unit"
              :key="i"
            >
              {{unit}}
            </option>
          </select>
        </td>
        <td class="icons">
          <img src="../../assets/icons/edit.svg" @click="edit_ingredient(i)">
        </td>
      </tr>
      <!--  New ingredient upload   -->
      <tr class="light-gray" v-if="show_new_ingredient">
        <td class="image">
          <div
            class="ingredient-image clickable"
            v-if="new_ingredient.img_url.length == 0"
            @click="click_upload()"
          >
            <p>Upload</p>
            <input
              type="file"
              ref="uploadbutton"
              @change="handleFileChange"
              accept="image/*"
            />
          </div>
          <div class="ingredient-image" v-else>
            <img :src="new_ingredient.img_url">
          </div>
        </td>
        <td class="name">
          <input placeholder="Ingredient name..." v-model="new_ingredient.name">
        </td>
        <td class="unit">
          <div class="unit-picker">
            <div v-for="(unit, i) in units" :key="i">
              <input type="checkbox">{{unit.name}}
            </div>
          </div>
        </td>
        <td class="icons">
          <img src="../../assets/icons/check.svg" @click="add_new_ingredient()">
        </td>
      </tr>
    </table>
    <button class="styled-button new-ingredient-button" @click="show_new_ingredient = true" v-if="!show_new_ingredient">
      + New Ingredient
    </button>
  </div>
</template>

<script>
import FormData from 'form-data' // for processing images

export default {
  mounted() {
    this.$store.dispatch('ingredients/getAllIngredients');
  },
  computed: {
    ingredients() {
      return this.$store.getters['ingredients/allIngredients']
    },
    units() {
      return this.$store.getters['units/allUnits']
    }
  },
  data() {
    return {
      show_new_ingredient: false,
      new_ingredient: {
        img_url: '',
        name: '',
        units: []
      },
      new_ingredient_form: new FormData(),
    }
  },
  methods: {
    click_upload() {
      this.$refs.uploadbutton.click()
    },
    // When an image file is uploaded:
    handleFileChange(e) {
      //  Getting the file data from the event...
      var file = e.target.files[0]; 

      //  Create a temporary URL, to display the file...
      this.new_ingredient.img_url = URL.createObjectURL(file);

      //  Add the img data to the form...
      this.new_ingredient_form.append('ingredient-img', file, file.name); 
    },
    add_new_ingredient() {
      this.new_ingredient_form.append('name', this.new_ingredient.name); 
      this.new_ingredient_form.append('units', this.new_ingredient.units);
      this.$store.dispatch('ingredients/addNewIngredient', this.new_ingredient_form);
    }
  }

  
}
</script>

<style scoped>
/*  Search bar...  */
.search-bar {
  width: 100%;
  height: 40px;
  background: #F5E4BE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar input {
  width: 90%;
  height: 20px;
  border-radius: 10px;
  padding: 3px 5px;
  border: none;
  box-sizing: border-box;
  margin: 0px;
}

/*  Table styling  */
.dark-gray {
  background: #F8F8F8;
}
.light-gray {
  background: #FFFFFF;
}
td {
  height: 70px;
}

table {
  width: 100%;
}
table, th, td {
  border-collapse: collapse;
}
th {
  background: #F2DBA9;
  color: #C6A55F;
  border: none;
  font-weight: normal;
}

/*  Individual cell styling  */
.image {
  width: 100px;
}
.ingredient-image {
  width: 100px;
  height: 70px;
  margin-top: 0px;
  border: solid 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ingredient-image.clickable {
  cursor: pointer;
}
.name {
  width: 200px;
}
.unit {
  width: 150px;
}
.unit-picker {
  overflow-y: scroll;
  background: white;
  border: solid 1px gray;
  height: 70px;
}
.icons {
  width: auto;
}
.icons img {
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

.new-ingredient-button {
  position: fixed;
  bottom: 90px;
  right: 90px;
}

</style>