<template>
  <div class="breadcrumbs-container">
    <div
      class="crumb"
      v-for="(crumb_name, i) in crumbs"
      :key="i"
    >
      <div class="crumb-circle" :class="{ 
        'past': i < current,
        'current': i == current 
      }">
        <div class="crumb-label">{{ crumb_name }}</div>
      </div>
      
      <div class="crumb-line" v-if="i < crumbs.length - 1"></div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'CustomRouterLink',
  props: {
    crumbs: {
      type: Array,
    },
    current: Number,
  },
  methods: {
    getIconUrl(pic) {
      return require('../assets/icons/'+pic)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.breadcrumbs-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.crumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.crumb-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px gray;
  position: relative;
  /* background: gray; */
}
.crumb-circle.past {
  background: gray;
}
.crumb-circle.current {
  background: #FCDCA9;
}

.crumb-line {
  width: 60px;
  height: 0px;
  border: solid 1px gray;
}

.crumb-label {
  position: absolute;
  text-align: center;
  width: 60px;
  left: -20px;
  top: 24px;
  font-size: 10px;
}
</style>
