<template>
  <router-link :to="to" class="custom-router-link" :class="{
    'router-link-active': ('/' + $route.path.split('/')[1]) == to
  }">
    <img :src="getIconUrl(icon)"/>
    <div>
      <p>
        <slot></slot>
      </p>
      <div class="link-underline" :style="{ 
        background: ('/' + $route.path.split('/')[1]) == to ? color : '#BAAFA0'
      }"></div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'CustomRouterLink',
  props: {
    to: String,
    icon: String,
    color: String,
  },
  methods: {
    getIconUrl(pic) {
      return require('../assets/icons/'+pic)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*  Router link styling */
.custom-router-link {
  width: 100%;
  display: flex;
  min-height: 70px;
  font-family: courier;
  text-align: left;
  color: black;
  text-decoration: none;
}
.custom-router-link.router-link-active {
  font-weight: bold;
  background: #F2DBA9;
}
.custom-router-link img {
  width: 50px;
  padding: 10px;
}
.custom-router-link div {
  width: 80%;
}


.link-underline {
  width: 100%;
  height: 7px;
  margin-top: -10px;
}
.custom-router-link:hover {
  background: #FAE4B2;
}
</style>
