<template>
  <div class="custom-input">
    <div class="label">{{label}}</div>
    <input 
      :value="modelValue"
      :placeholder="placeholder"
      @keyup.enter="$emit('enter')"
      @input="$emit('update:modelValue', $event.target.value)"
      :type="type"
    />
  </div>
</template>

<script>
export default {
  name: 'CustomInput',
  props: {
    modelValue: String,
    placeholder: {
      type: String,
      default: '',
    },
    label: String,
    type: String,
  },
  methods: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.custom-input {
  position: relative;
}
.label {
  position: absolute;
  font-size: 10px;
  top: -14px;
}
input {
  background: none;
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
  font-size: 18px;
  width: 100%;
  transition-duration: .5s;
}
input:focus {
  border-bottom: solid 2px #420E69;
}
</style>
